<div class="row">
  <div class="row" style="font-size: 36px; ">
    <div class="col s11  push-s1">
      Segundos transcurridos en el dia
    </div>
  </div>
  <mz-input-container class="col s12 m10">
    <input mz-input #inp
    [label]="'Da la hora y los minutos hh:mm'"
    [validate]="true"
    [dataError]="'Llena el campo'"
    id="input"
    length=" 5 "
    type="text"
    >
  </mz-input-container>
  <mz-select-container class="col s12 m2">
    <select mz-select   
      id="options-select"
      [label]="'AM o PM???'"
    >
      <option >AM</option>
      <option >PM</option>
    </select>
  </mz-select-container>
  <div class="row">
    <button mz-button class="col s5 m2"  style="margin-top: 20px;" (click)="segundos(inp.value)">
      Iniciar
    </button>
  </div>
  <div class="row">
    <div class="col s12 m12 center-align" style="font-size: 36px; margin-top: 12px; background-color: rgba(24, 223, 226, 0.58);" >
      {{numeroSegundos}}
    </div>
  </div>
</div>