<div class="container">
   <h2>Ejercicios primer semestre</h2>
   <br>
   <hr>
   <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-dar-vuelta-anumero></mvat-dar-vuelta-anumero>
      </div>
   </div>
   <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-binario-adecimal></mvat-binario-adecimal>
      </div>
   </div>
   <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-hipotenusa-segun-catetos></mvat-hipotenusa-segun-catetos>
      </div>
   </div>
    <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-velocidad-segun-distancia-tiempo></mvat-velocidad-segun-distancia-tiempo>
      </div>
   </div>
   <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-ecuaciones-de-segundo-grado-resolvente></mvat-ecuaciones-de-segundo-grado-resolvente>
      </div>
   </div>
   <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-es-capicua></mvat-es-capicua>
      </div>
   </div>
   <div style="border: 4px solid rgba(5, 14, 123, 0.74); margin-bottom: 12px;">
      <div style="border: 3px solid rgba(6, 44, 196, 0.27); padding: 15px;">
         <mvat-segundos-transcurridos></mvat-segundos-transcurridos>
      </div>
   </div>
</div>

